* {
    background-color: black;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: white;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans 3', sans-serif;
    color: white;
    background-color: black;
}

hr {
    width: 80%;
    margin-top: 70px;
    margin-left: 10%;
    opacity: 100%;
}

/*Header*/
header {
    display: flex;
    justify-content: space-between;
    margin: 70px;
    align-items: center;
}

.logoMapala img {
    width: 202px;
}

header nav {
    background-color: none;
}

header nav ul {
    display: flex;
    padding: 0px;
}

header nav ul li {
    margin: 0px 20px;
}

a {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: white;
    text-decoration: none;
}

/*BARRA DE NAVEGACION bootstrap*/
.navbar {
    background-color: black;
    padding: 0;
    justify-content: space-between;
    width: auto;
}

#navbarNav {
    justify-content: flex-end;
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: white;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.nav-link:hover {
    color: #D529D1;

}

.navbar-toggler-icon {
    color: white;
}


/*Portada*/
#portada {
    height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloPrincipalHome {
    max-width: 50rem;
    display: flex;
    text-align: center;
    line-height: 70px;
    justify-content: center;
    font-size: 64px;
    font-weight: 700;
    font-style: normal
}

.tituloPrincipal {
    display: flex;
    justify-content: left;
    text-align: left;
    font-size: 64px;
    font-weight: 700;
    font-style: normal
}

.parrafoMain {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    max-width: 544px;
    text-align: center;
    margin: 32px;
}

.parrafosPrincipales {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    max-width: 800px;
    text-align: left;
}

.boton {
    background-color: white;
    padding: 16px 50px;
    border-radius: 50px;
    color: #010101;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin: 43px;
}

.portadaPrincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imgClientesPortada {
    width: 141px;
    height: 117px;
    position: absolute;
    top: 5rem;
    right: -10rem;
}

.imgCohetePortada {
    width: 260px;
    height: 201px;
    position: absolute;
    top: 14rem;
    right: 43rem;
}

.imgForma1Portada {
    width: 70.772px;
    height: 72.327px;
    transform: rotate(148.76deg);
    position: absolute;
    top: -6rem;
    right: 30rem;
}

.imgForma2Portada {
    width: 91px;
    height: 93px;
    position: absolute;
    top: 23rem;
    right: 2rem;
}

h2 {
    font-family: Source Sans 3;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#proyectosRecientes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px 0 70px 0px;
}

.imgProyectosRecientes {
    width: 100%;
    height: auto;
}

.col {
    padding: 0px;
}

#clientesFelices {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 125px;
}

.logosCentrosComerciales {
    display: flex;
}

.logosClientes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 97px;
    height: 97px;
    margin: 10px;
}

/*Proyectos*/
.iconoProyectos {
    width: 142px;
    height: 199px;
}

/*Nosotros*/
.seccionNosotros {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccionNosotros div {
    margin: 0px;
}

.fotoFundador {
    width: 293px;
    height: 473px;
}

.tituloUs {
    justify-content: center;
    text-align: center;
}

.fotosFundadores {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.fundadores {
    width: 186px;
    height: 105px;
    padding: 16px 3px;
    justify-content: center;
    text-align: center;
    border-radius: 60px;
    background: #D529D1;
    display: flex;
    display: inline-block;
    position: relative;
    top: 50px;
    right: -50px;
    flex-direction: row;
}

.nombresFundadores {
    font-family: Source Sans 3;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    background: none;
    margin: -5px;
}

.ocupacionFundadores {
    font-family: Source Sans 3;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    background: none;
}

.datosEspecificos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.datosEquipo {
    color: #D529D1;
    text-align: center;
    font-family: Source Sans 3;
    font-size: 200px;
    font-style: normal;
    font-weight: 700;
    padding-right: 0px;
}

.datosExperiencia {
    color: #FFDE3E;
    text-align: center;
    font-size: 200px;
    font-style: normal;
    font-weight: 700;
    padding-inline: 108px;
}

.datosEvento {
    color: #FF793E;
    text-align: center;
    font-size: 200px;
    font-style: normal;
    font-weight: 700;
    padding-left: 0px;
}

.textoDatosEquipo {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
}

/*Contacto*/
fieldset {
    width: 418px;
    height: 524px;
    border-radius: 30px;
    background: white;
    padding: 20px;
    border: none;
}

.formulario {
    width: 331px;
    padding: 9px 24px;
    align-items: center;
    border-radius: 24px;
    border: 1px solid #D529D1;
    background-color: white;
    margin: 32px;
}

#nombre {
    background: none;
    border: none;
    width: 100%;
    color: #C7C7C7;
    text-align: left;
    font-family: Source Sans 3;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

#email {
    background: none;
    border: none;
    width: 100%;
    color: #C7C7C7;
    text-align: left;
    font-family: Source Sans 3;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

#asunto {
    background: none;
    border: none;
    width: 100%;
    color: #C7C7C7;
    text-align: left;
    font-family: Source Sans 3;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

#mensaje {
    background: none;
    border: none;
    height: 97px;
    width: 100%;
    color: #C7C7C7;
    text-align: left;
    font-family: Source Sans 3;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.botonContacto {
    width: 331px;
    padding: 16px 60px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border-color: #6025B5;
    background: #6025B5;
    font-family: Source Sans 3;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    border: none;
}

/*Footer*/

.footerA {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap
}

.titulosFooter {
    margin: 70px;
    font-family: Source Sans 3;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.textosFooter {
    font-family: Source Sans 3;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0px;
}



.lineaFooter {
    width: 10%;
    margin-top: -34px;
    margin-left: 45%;
}

.derechosFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 47px 0px 84px 0px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.manoUno {
    width: 178.695px;
    height: 380.877px;
    transform: rotate(-52.798deg);
}

.redesSociales {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.logoYoutube {
    margin: 10px 0px 10px 0px;
}

.logoInstagram {
    margin: 10px 0px 10px 0px;
}

.container-fluid {
    align-items: center;
    justify-content: center;
    justify-items: center;
}

/*Media query*/

@media (min-width:320px) .tituloPrincipalHome {
    font-size: 40px;
}

@media (max-width:1532px) .tituloPrincipalHome {
    font-size: 64px;
}