/*Variables*/
/*Reset*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  color: white;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
  color: white;
  background-color: black;
}

hr {
  width: 80%;
  margin-top: 100px;
  margin-left: 10%;
  opacity: 100%;
}

.tituloPrincipal {
  display: flex;
  justify-content: left;
  text-align: left;
  font-size: 64px;
  font-weight: 700;
  font-style: normal;
}

h2 {
  padding: 50px 0px 26px 0px;
  font-family: "Source Sans 3";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h3 {
  font-weight: 600;
}

.parrafosPrincipales {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  max-width: 800px;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

/*Header*/
header {
  display: flex;
  justify-content: space-between;
  margin: 70px;
  align-items: center;
}
header .navbar {
  background-color: black;
  width: 100%;
  padding: 0px;
  --bs-bg-opacity: none;
}
header .navbar .container {
  background-color: black;
}
header .navbar .container a {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  color: white;
  text-decoration: none;
}
header .navbar .container a .logoMapala {
  width: 200px;
}
@media screen and (max-width: 768px) {
  header .navbar .container a .logoMapala {
    width: 150px;
  }
}
header .navbar .container #navbarNav {
  justify-content: flex-end;
  background-color: black;
}
header .navbar .container .nav-item {
  margin: 0px 20px;
}
header .navbar .container .nav-link {
  color: white;
  font-family: "Source Sans 3", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
header .navbar .container .nav-link:hover {
  color: #D529D1;
}

/*Index*/
main {
  justify-content: center;
}
main #portada {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  main #portada #portada {
    padding: 150px 0px 80px 0px;
  }
}
main #portada .portadaPrincipal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
main #portada .portadaPrincipal .tituloPrincipalHome {
  max-width: 40rem;
  display: flex;
  text-align: center;
  line-height: 70px;
  justify-content: center;
  font-size: 64px;
  font-weight: 700;
  font-style: normal;
}
@media screen and (max-width: 768px) {
  main #portada .portadaPrincipal .tituloPrincipalHome {
    font-size: 48px;
    max-width: 470px;
    line-height: 50px;
  }
}
main #portada .portadaPrincipal .parrafoMain {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  max-width: 544px;
  text-align: center;
  margin: 32px;
}
@media screen and (max-width: 768px) {
  main #portada .portadaPrincipal .parrafoMain {
    font-size: 22px;
    max-width: 380px;
  }
}
main #portada .portadaPrincipal .boton {
  background-color: white;
  padding: 16px 50px;
  border-radius: 50px;
  color: black;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin: 43px;
  transition: background-color 1s, transform 1s;
}
main #portada .portadaPrincipal .boton:hover {
  background-color: #6025B5;
  color: white;
  transform: translate(0px, -5px);
}
main #portada .portadaPrincipal .imgClientesPortada {
  width: 141px;
  height: 117px;
  position: absolute;
  top: 24%;
  right: -30%;
  transition: transform 1s;
}
main #portada .portadaPrincipal .imgClientesPortada:hover {
  transform: translate(-5px, -15px);
}
main #portada .portadaPrincipal .imgCohetePortada {
  width: 260px;
  height: 201px;
  position: absolute;
  top: 50%;
  right: 95%;
  transition: transform 1s;
}
main #portada .portadaPrincipal .imgCohetePortada:hover {
  transform: translate(20px, -15px);
}
main #portada .portadaPrincipal .imgForma1Portada {
  width: 70.772px;
  height: 72.327px;
  transform: rotate(148.76deg);
  position: absolute;
  top: -25%;
  right: 63%;
  transition: transform 1s;
}
main #portada .portadaPrincipal .imgForma1Portada:hover {
  transform: translate(-5px, -15px);
}
main #portada .portadaPrincipal .imgForma2Portada {
  width: 91px;
  height: 93px;
  transform: rotate(-50deg);
  position: absolute;
  top: 100%;
  right: 10%;
  transition: transform 1s;
}
main #portada .portadaPrincipal .imgForma2Portada:hover {
  transform: translate(10px, -25px);
}
@media screen and (max-width: 768px) {
  main #portada .portadaPrincipal .imgClientesPortada {
    width: 100px;
    height: auto;
    position: absolute;
    top: 60%;
    right: 1%;
  }
  main #portada .portadaPrincipal .imgForma1Portada {
    width: 70.772px;
    height: 72.327px;
    transform: rotate(148.76deg);
    position: absolute;
    top: -15%;
    right: 63%;
  }
  main #portada .portadaPrincipal .imgForma2Portada {
    width: 60px;
    height: auto;
    position: absolute;
    top: 100%;
    right: 30%;
  }
  main #portada .portadaPrincipal .imgForma1Portada {
    width: 50px;
    height: auto;
    position: absolute;
    top: -20%;
    right: 60%;
  }
  main #portada .portadaPrincipal .imgCohetePortada {
    width: 120px;
    height: auto;
    position: absolute;
    top: 65%;
    right: 85%;
  }
}
main .proyectosRecientes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  main .proyectosRecientes .imgsProyectosRecientes {
    display: flex;
    flex-direction: column;
  }
}
main .proyectosRecientes .proyectosRecientesTitulo {
  grid-area: proyectostitulo;
}
main .proyectosRecientes .imgsProyectosRecientes {
  grid-area: imagenesproyectos;
  display: grid;
  grid-template-areas: "proyectostitulo proyectostitulo proyectostitulo" "imagenesproyectos imagenesproyectos imagenesproyectos";
  grid-template-columns: auto;
  grid-template-rows: 1fr auto;
  display: flex;
  align-items: center;
}
main .proyectosRecientes .imgsProyectosRecientes .imgProyectosRecientes {
  padding: 2px;
  width: auto;
}
@media screen and (max-width: 768px) {
  main .proyectosRecientes .imgsProyectosRecientes .imgProyectosRecientes {
    padding: 2px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
main #clientesFelices {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 55px;
}
main #clientesFelices .logosCentrosComerciales {
  display: flex;
}
@media screen and (max-width: 768px) {
  main #clientesFelices .row {
    display: flex;
    flex-direction: column;
  }
}
main #clientesFelices .logosClientes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 97px;
  height: 97px;
  margin: 10px;
  transition: transform 1s;
}
main #clientesFelices .logosClientes:hover {
  transform: translate(0px, -35px);
}
@media screen and (max-width: 768px) {
  main #clientesFelices .logosClientes .logocc {
    width: 100px;
  }
}

/*Proyectos*/
main .mainPaginas {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .mainPaginas .iconoProyectos {
  width: 80px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 1px;
}
main .container .tituloProyecto1 {
  padding: 70px 0px 5px 0px;
}
main .container #carouselExampleRide {
  display: none;
}
main .container #carouselExampleInterval {
  display: none;
}
main .container .proyecto1 {
  align-items: end;
  /*Galeria Proyecto 1*/
  display: grid;
  grid-template-areas: "parque1_1 parque1_2 parque1_3 parque1_5" "parque1_1 parque1_4 parque1_4 parque1_5";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 5px;
  column-gap: 10px;
  margin: 0;
  justify-content: center;
}
main .container .proyecto1 .parque1_1 {
  grid-area: parque1_1;
}
main .container .proyecto1 .parque1_2 {
  grid-area: parque1_2;
}
main .container .proyecto1 .parque1_3 {
  grid-area: parque1_3;
}
main .container .proyecto1 .parque1_4 {
  grid-area: parque1_4;
}
main .container .proyecto1 .parque1_5 {
  grid-area: parque1_5;
}
@media screen and (max-width: 768px) {
  main .container .proyecto1 {
    display: none;
  }
  main .container #carouselExampleRide {
    display: flex;
  }
}
main .container .tituloProyecto2 {
  padding: 70px 0px 5px 0px;
}
main .container .proyecto2 {
  align-items: end;
  /*Galeria Proyecto 2*/
  display: grid;
  grid-template-areas: "parque2_2 parque2_2 parque2_5 parque2_3" "parque2_1 parque2_4 parque2_4 parque2_3";
  grid-template-columns: auto;
  grid-template-rows: auto;
  row-gap: 5px;
  column-gap: 10px;
  margin: 0;
  justify-content: center;
}
main .container .proyecto2 .parque2_1 {
  grid-area: parque2_1;
}
main .container .proyecto2 .parque2_2 {
  grid-area: parque2_2;
}
main .container .proyecto2 .parque2_3 {
  grid-area: parque2_3;
}
main .container .proyecto2 .parque2_4 {
  grid-area: parque2_4;
}
main .container .proyecto2 .parque2_5 {
  grid-area: parque2_5;
}
@media screen and (max-width: 768px) {
  main .container .proyecto2 {
    display: none;
  }
  main .container #carouselExampleInterval {
    display: flex;
  }
}
main .container .descripcionProyectos {
  display: flex;
  justify-content: center;
  padding: 3px 0px 40px 0px;
}

/*Servicios*/
main .seccionServicios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  align-items: center;
}
main .seccionServicios div .imgServicios {
  width: 500px;
  height: auto;
  margin: 120px;
}
@media screen and (max-width: 768px) {
  main .seccionServicios div .imgServicios {
    margin: 100px 0px 0px 0px;
    width: 280px;
    height: auto;
  }
}
main .seccionServicios .cardServicios .divCardServicios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  margin-right: 100px;
}
main .seccionServicios .cardServicios .divCardServicios .boton {
  background-color: white;
  padding: 16px 50px;
  border-radius: 50px;
  color: black;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin: 43px;
  transition: background-color 1s, transform 1s;
}
main .seccionServicios .cardServicios .divCardServicios .boton:hover {
  background-color: #6025B5;
  color: white;
  transform: translate(0px, -5px);
}
@media screen and (max-width: 768px) {
  main .seccionServicios .cardServicios .divCardServicios {
    margin-right: 0px;
  }
}
@media screen and (max-width: 768px) {
  main .seccionServicios .cardServicios {
    margin: 0px;
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  main .seccionServicios {
    display: flex;
    flex-direction: column;
  }
}
main .valores {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}
main .valores .divValores {
  justify-content: center;
  margin: 32px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
main .valores .divValores .imgvalores {
  width: auto;
  height: 180px;
  transition: transform 1s;
}
main .valores .divValores .imgvalores:hover {
  transform: translate(0px, -35px);
}
@media screen and (max-width: 768px) {
  main .valores .divValores .imgvalores {
    width: auto;
    height: 150px;
  }
}
@media screen and (max-width: 768px) {
  main .valores .divValores {
    margin: 15px;
  }
}
@media screen and (max-width: 768px) {
  main .valores {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
  }
}

/*Nosotros*/
body main .seccionNosotros {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}
body main .seccionNosotros .fotosFundadores {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}
body main .seccionNosotros .fotosFundadores .divFundadores {
  transition: transform 1s;
}
body main .seccionNosotros .fotosFundadores .divFundadores:hover {
  transform: translate(0px, -35px);
}
body main .seccionNosotros .fotosFundadores .fundadores {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 186px;
  height: 105px;
  padding: 16px 3px;
  text-align: center;
  border-radius: 60px;
  background: #D529D1;
  position: relative;
  top: 50px;
  right: -75px;
}
body main .seccionNosotros .fotosFundadores .fundadores .nombresFundadores {
  font-family: "Source Sans 3";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  background: none;
  margin: -5px;
}
body main .seccionNosotros .fotosFundadores .fundadores .ocupacionFundadores {
  font-family: "Source Sans 3";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  background: none;
}
body main .seccionNosotros .fotosFundadores .fotoFundador {
  margin: 24px;
  width: 293px;
  height: 473px;
}
@media screen and (max-width: 768px) {
  body main .seccionNosotros .fotosFundadores {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  body main .seccionNosotros {
    height: 2500px;
  }
}
body main #datoscuriosos .tituloUs {
  justify-content: center;
  text-align: center;
}
body #datosCuriosos .datosEspecificos {
  display: flex;
  justify-content: center;
  align-items: center;
}
body #datosCuriosos .datosEspecificos .datosEquipo {
  color: #D529D1;
  text-align: center;
  font-family: "Source Sans 3";
  font-size: 200px;
  font-style: normal;
  font-weight: 700;
  padding-right: 0px;
}
body #datosCuriosos .datosEspecificos .datosExperiencia {
  color: #FFDE3E;
  text-align: center;
  font-size: 200px;
  font-style: normal;
  font-weight: 700;
  padding-inline: 108px;
}
body #datosCuriosos .datosEspecificos .datosEvento {
  color: #FF793E;
  text-align: center;
  font-size: 200px;
  font-style: normal;
  font-weight: 700;
  padding-left: 0px;
}
body #datosCuriosos .datosEspecificos .textoDatosEquipo {
  color: #FFF;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
}
@media screen and (max-width: 768px) {
  body #datosCuriosos .datosEspecificos {
    flex-direction: column;
  }
}

/*Contacto*/
main section form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main section form fieldset {
  width: 418px;
  height: 560px;
  border-radius: 30px;
  background: white;
  padding: 20px;
  border: none;
  margin: 59px;
}
main section form fieldset .formulario {
  width: 331px;
  padding: 9px 24px;
  align-items: center;
  border-radius: 24px;
  border: 1px solid #D529D1;
  background-color: white;
  margin: 32px;
}
main section form fieldset .formulario #nombre {
  background: none;
  border: none;
  width: 100%;
  color: #C7C7C7;
  text-align: left;
  font-family: "Source Sans 3";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
main section form fieldset .formulario #email {
  background: none;
  border: none;
  width: 100%;
  color: #C7C7C7;
  text-align: left;
  font-family: "Source Sans 3";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
main section form fieldset .formulario #asunto {
  background: none;
  border: none;
  width: 100%;
  color: #C7C7C7;
  text-align: left;
  font-family: "Source Sans 3";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
main section form fieldset .formulario #mensaje {
  background: none;
  border: none;
  height: 97px;
  width: 100%;
  color: #C7C7C7;
  text-align: left;
  font-family: "Source Sans 3";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  align-items: center;
}
@media screen and (max-width: 768px) {
  main section form fieldset .formulario {
    width: 246px;
    padding: 4px 9px 0px 24px;
    margin: 20px 0px 30px 8px;
  }
}
@media screen and (max-width: 768px) {
  main section form fieldset {
    width: 300px;
    height: 500px;
  }
}
main section form .botonContacto {
  width: 331px;
  padding: 16px 60px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border-color: #6025B5;
  background: #6025B5;
  transition: background-color 1s, transform 1s;
  font-family: "Source Sans 3";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  border: none;
}
main section form .botonContacto:hover {
  background-color: white;
  color: #6025B5;
  transform: translate(0px, -5px);
}
@media screen and (max-width: 768px) {
  main section form .botonContacto {
    width: 270px;
  }
}

/*Footer*/
.container-fluid {
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.container-fluid .footerA {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .container-fluid .footerA {
    text-align: center;
  }
}
.container-fluid .titulosFooter {
  margin: 70px;
  font-family: "Source Sans 3";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.container-fluid .titulosFooter .textosFooter {
  font-family: "Source Sans 3";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 0px;
}
.container-fluid .titulosFooter .redesSociales {
  display: flex;
  flex-direction: column;
  padding: 0px;
}
.container-fluid .titulosFooter .redesSociales div .logoYoutube {
  margin: 10px 0px 10px 0px;
}
.container-fluid .titulosFooter .redesSociales div .logoInstagram {
  margin: 10px 0px 10px 0px;
}
@media screen and (max-width: 768px) {
  .container-fluid .titulosFooter {
    margin: 30px;
  }
}
.container-fluid .lineaFooter {
  width: 10%;
  margin-top: -34px;
  margin-left: 45%;
}
.container-fluid .derechosFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 47px 0px 84px 0px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

/*Media query Universales*/
@media screen and (max-width: 768px) {
  .mainPaginas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h2 {
    text-align: center;
  }
  .hr {
    margin-top: 8px;
  }
  .tituloPrincipal {
    font-size: 48px;
    max-width: 300px;
    line-height: 50px;
    font-style: normal;
    text-align: center;
  }
  .parrafosPrincipales {
    font-size: 22px;
    max-width: 300px;
    line-height: 30px;
  }
  .iconoProyectos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 61px;
    height: auto;
  }
  .seccionNosotros {
    display: flex;
    flex-direction: column;
  }
  .derechos {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
