main {
    justify-content: center;

    #portada {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .portadaPrincipal {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            .tituloPrincipalHome {
                max-width: 40rem;
                display: flex;
                text-align: center;
                line-height: 70px;
                justify-content: center;
                font-size: 64px;
                font-weight: 700;
                font-style: normal
            }

            @include md {
                .tituloPrincipalHome {
                    font-size: 48px;
                    max-width: 470px;
                    line-height: 50px;
                }
            }

            @include sm {
                .tituloPrincipalHome {
                    font-size: 40px;
                    max-width: 470px;
                    line-height: 40px;
                }
            }

            .parrafoMain {
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                max-width: 544px;
                text-align: center;
                margin: 32px;
            }

            @include md {
                .parrafoMain {
                    font-size: 24px;
                    max-width: 380px;
                    line-height: 30px;
                }
            }

            @include sm {
                .parrafoMain {
                    font-size: 22px;
                    max-width: 380px;
                    line-height: 30px;
                }
            }

            .boton {
                @include flex ($colorTextos, $colorFondo);

                &:hover {
                    @include hover
                }
            }

            .imgClientesPortada {
                width: 141px;
                height: 117px;
                position: absolute;
                top: 24%;
                right: -30%;
                transition: transform 1s;

                &:hover {
                    transform: translate(-5px, -15px);
                }

                @include xl {
                    top: 30%;
                    right: -15%;
                    width: 100px;
                    height: auto;
                }
            }
            @include md {
                .imgClientesPortada {
                    width: 100px;
                    height: auto;
                    position: absolute;
                    top: 60%;
                    right: 1%;
                }
            }

            @include sm {
                .imgClientesPortada {
                    width: 80px;
                    height: auto;
                    position: absolute;
                    top: 60%;
                    right: 1%;
                }
            }

            .imgCohetePortada {
                width: 190px;
                height: auto;
                position: absolute;
                top: 50%;
                right: 100%;
                transition: transform 1s;

                &:hover {
                    transform: translate(20px, -15px);
                }
            }
            @include xl {
                .imgCohetePortada {
                    width: 160px;
                    height: auto;
                    right: 80%;
                    top: 60%;
                }
            }

            @include md {
                .imgCohetePortada {
                    width: 130px;
                    height: auto;
                }
            }
            @include sm {
                .imgCohetePortada {
                    width: 130px;
                    height: auto;
                    right: 80%;
                    top: 60%;
                }
            }

            .imgForma1Portada {
                width: 70px;
                height: auto;
                transform: rotate(148.76deg);
                position: absolute;
                top: -25%;
                right: 63%;
                transition: transform 1s;

                &:hover {
                    transform: translate(-5px, -15px);
                }
            }

            @include md {
                .imgForma1Portada {
                    top: -15%;
                    width: 60px;
                    height: auto;
                }
            }

            @include sm {
                .imgForma1Portada {
                    top: -15%;
                    width: 50px;
                    height: auto;
                }
            }

            .imgForma2Portada {
                width: 80px;
                height: auto;
                transform: rotate(-50deg);
                position: absolute;
                top: 100%;
                right: 10%;
                transition: transform 1s;

                &:hover {
                    transform: translate(10px, -25px);
                }
            }
            @include md {
                .imgForma2Portada {
                    top: 100%;
                    width: 60px;
                    height: auto;
                }
            }
            @include sm {
                .imgForma2Portada {
                    top: 100%;
                    right: 20%;
                    width: 50px;
                    height: auto;
                }
            }
        }
    }

    @include sm {
        #portada {
            padding: 200px 0px 80px 0px;
        }
    }

    @include md {
        #portada {
            padding: 150px 0px 80px 0px;
        }
    }

    .proyectosRecientes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: auto;
        justify-content: center;
        align-items: center;

        .proyectosRecientesTitulo {
            grid-area: proyectostitulo;
        }

        .imgsProyectosRecientes {
            grid-area: imagenesproyectos;
            display: grid;
            grid-template-areas:
                "proyectostitulo proyectostitulo proyectostitulo"
                "imagenesproyectos imagenesproyectos imagenesproyectos";
            grid-template-columns: auto;
            grid-template-rows: 1fr auto;
            display: flex;
            align-items: center;

            .imgProyectosRecientes {
                padding: 2px;
                width: auto;
            }

            @include md {
                .imgProyectosRecientes {
                    padding: 2px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

    @include xl {
        .imgsProyectosRecientes {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    @include md {
        .imgsProyectosRecientes {
            display: flex;
            flex-direction: column;
        }
    }

    @include sm {
        .imgsProyectosRecientes {
            display: flex;
            flex-direction: column;
        }
    }

    #clientesFelices {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 55px;

        .logosCentrosComerciales {
            display: flex;
        }

        @include md {
            .row {
                display: flex;
                flex-direction: column;
            }
        }

        .logosClientes {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 97px;
            height: 97px;
            margin: 10px;
            transition: transform 1s;

            &:hover {
                transform: translate(0px, -35px);
            }

            @include md {
                .logocc {
                    width: 100px;
                }
            }
        }
    }
}